@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: "Nanum Myeongjo", serif;
}
  


/* Default light theme */
:root {
    --background-color: #fff;
    --text-color: #000;
  }
  
  /* Dark theme */
  [data-theme="dark"] {
    --background-color: #000;
    --text-color: #fff;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
.gradiant-text {
    -webkit-background-clip: text;
    @apply bg-gradient-to-t from-blue-500 to-cyan-500 text-transparent;
    overflow: hidden;
    border-right: 2px solid #fff;
    animation: typing-text steps(40) 3s infinite, blink ease 0.3s infinite;
    text-wrap: nowrap;
    display: inline-block;
    width: max-content;
    width: 0;
}

@keyframes typing-text {
    from {
        width: 0%;
    } 
    to {
        width: 350px;
    }
}

@keyframes typing-text {
    to {
        border-color: transparent;
    }
}

/* Profile container styling */
.profile-container {
    position: relative;
    display: inline-block;
    width: 280px; /* Match the width of the photo */
    height: 280px; /* Match the height of the photo */
  }
  
  /* Photo container styling */
  .photo-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
    width: 280px; /* Match the width of the photo */
    height: 280px; /* Match the height of the photo */
  }
  
  /* Profile photo styling */
  .profile-photo {
    display: block;
    width: 100%; /* Ensure the photo fills its container */
    height: 100%; /* Ensure the photo fills its container */
    object-fit: cover;
    border-radius: 50%;
  }
  
  /* Define disco light effects animation */
  @keyframes disco {
    0% { box-shadow: 0 0 100px rgba(0, 255, 255, 0.5); }
    25% { box-shadow: 0 0 100px rgba(255, 0, 255, 0.5); }
    50% { box-shadow: 0 0 100px rgba(0, 255, 255, 0.5); }
    75% { box-shadow: 0 0 100px rgba(255, 255, 0, 0.5); }
    100% { box-shadow: 0 0 100px rgba(0, 255, 255, 0.5); }
  }
  
  
  /* Apply disco light effects animation */
  .profile-container::after {
    content: "";
    position: absolute;
    top: 0; /* Adjusted to match photo container */
    left: 0; /* Adjusted to match photo container */
    width: 100%; /* Adjusted to match photo container */
    height: 100%; /* Adjusted to match photo container */
    border-radius: 50%;
    animation: disco 2s infinite;
  }
  


